.header {
  width: 100%;
  background: #1f1f1f;
  position: absolute;
  z-index: 1000;
  border-bottom: 1px solid #d33131;
}

.header__inner {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner__navbar {
  display: flex;
  align-items: center;
}

.header__inner__navbar__nav {
  display: flex;
}

.header__inner__navbar__nav__links {
  margin: 0 30px 0 0;
  font-weight: 500;
  position: relative;
}

.header__inner__navbar__nav__links::before {
  content: "";
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  transition: clip-path 0.3s ease-in-out;
}

.header__inner__navbar__nav__links:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header__inner__navbar__nav__links:nth-of-type(6) {
  margin: 0 50px 0 0;
}

.header__inner__navbar__resume {
  font-weight: 500;
  padding: 6px 15px;
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__inner__navbar__resume:hover {
  opacity: 0.8;
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro__inner {
  padding: 205px 0 0 0;
  display: flex;
  flex-direction: column;
  max-width: 685px;
  color: #f2f2f2;
}

.intro__inner__subtitle {
  font-size: 18px;
  font-weight: 400;
}

.intro__inner__title {
  font-size: 48px;
  font-weight: 500;
}

.intro__inner__para {
  margin: 20px 0 0 0;
}

.intro__inner__services {
  margin: 30px 0 0 0;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 15px;
}

.intro__inner__services::before {
  content: "";
  background: #0449f7;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
}

.intro__inner__tel > b, .intro__inner__email > b {
  font-weight: 500;
}

.intro__inner__tel {
  margin: 10px 0 0 0;
}

.intro__inner__email {
  margin: 5px 0 0 0;
}

.intro__inner__btn {
  width: 98px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 0 0;
}

.about__inner {
  margin: 120px 0 0 0;
  color: #1b1b1b;
  display: flex;
  justify-content: space-between;
}

.about__inner__content {
  display: flex;
  flex-direction: column;
}

.about__inner__content__title {
  font-size: 48px;
  font-weight: 500;
  position: relative;
}

.about__inner__content__title::before, .services__inner__title::before {
  content: "About me";
  font-size: 144px;
  opacity: 0.1;
  width: 743px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -50%);
}

.about__inner__content__para {
  max-width: 675px;
  margin: 20px 0 0 0;
  color: #3d3d3d;
}

.about__inner__content__para:nth-of-type(1) {
  margin: 40px 0 0 0;
}

.about__inner__content__hr {
  width: 120px;
  height: 1px;
  background: #d33131;
  margin: 30px 0 0 0;
}

.about__inner__content__achievements {
  display: flex;
  flex-wrap: wrap;
  max-width: 510px;
}

.about__inner__content__achievements__item {
  padding: 0 0 0 35px;
  margin: 30px 0 0 0;
  width: 50%;
  position: relative;
}

.about__inner__content__achievements__item::before {
  content: "";
  background-image: url("./../icons/checked 3.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.about__inner__content__btn {
  width: 98px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 0;
}

.about__inner__img {
  width: 380px;
  height: 460px;
  position: relative;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.about__inner__img::before {
  content: "";
  width: 380px;
  height: 460px;
  border: 1px solid #1f1f1f;
  position: absolute;
  top: -20px;
  right: -30px;
  z-index: -1;
}

.about__inner__img img {
  width: 100%;
  height: 100%;
}

.services {
  background-image: url("./../../images/services-bg.svg");
  width: 100%;
  height: 1475.11px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 80px 0 0 0;
}

.services__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 397px 0 0 0;
  color: #f2f2f2;
}

.services__inner__title {
  font-size: 48px;
  font-weight: 500;
  position: relative;
}

.services__inner__title::before {
  content: "Services";
  width: 625px;
}

.services__inner__content {
  max-width: 1090px;
  max-height: 530px;
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 250px));
  grid-template-rows: repeat(2, minmax(auto, 250px));
  grid-gap: 30px;
}

.services__inner__content__item {
  background: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services__inner__content__item:nth-of-type(3) {
  grid-column: 3/ 5;
  grid-row: 1/ 3;
}

.services__inner__content__item__title {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 0 0;
}

.services__inner__content__item__para {
  max-width: 400px;
  margin: 20px 0 0 0;
  text-align: center;
  color: #b0b0b0;
  font-size: 14px;
}

.work__inner {
  margin: 120px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__inner__title {
  font-size: 48px;
  font-weight: 500;
  color: #1b1b1b;
}

.work__inner__para {
  font-size: 18px;
  color: #3d3d3d;
  max-width: 1148px;
  text-align: center;
  margin: 20px 0 0 0;
}

.work__inner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__inner__content__navbar {
  display: flex;
  margin: 60px 0 0 0;
}

.work__inner__content__navbar__link {
  text-transform: uppercase;
  padding: 5px 20px;
  background: #1f1f1f;
  border-radius: 2px;
  margin: 0 10px 0 0;
  transition: background 0.3s ease-in-out;
}

.work__inner__content__navbar__link:hover {
  background: #000;
}

.work__inner__content__navbar__link-active {
  background: #d33131 !important;
}

.work__inner__content__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 320px));
  grid-template-rows: repeat(2, minmax(auto, 320px));
  grid-gap: 20px;
  max-width: 1340px;
  margin: 40px 0 0 0;
}

.work__inner__content__container__item {
  background: #c4c4c4;
}

.work__inner__content__btn {
  padding: 12px 24px;
  margin: 80px 0 0 0;
}

.testimonials {
  background: #d6d6d6;
  border-top: 1px solid #d33131;
  margin: 60px 0 0 0;
  padding: 60px 0;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__inner__title {
  font-size: 48px;
  font-weight: 500;
  color: #1b1b1b;
}

.testimonials__inner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 0 0;
}

.testimonials__inner__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 900px;
}

.testimonials__inner__content__item__profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #c4c4c4;
  border: 1px solid #1b1b1b;
}

.testimonials__inner__content__item__name {
  font-size: 18px;
  font-weight: 600;
  color: #1b1b1b;
  margin: 20px 0 0 0;
}

.testimonials__inner__content__item__social {
  display: flex;
  margin: 5px 0 0 0;
}

.testimonials__inner__content__item__social__link {
  font-size: 10px;
  color: #000;
  padding: 0 15px;
}

.testimonials__inner__content__item__social__link:nth-of-type(1) {
  position: relative;
  padding: 0 16px;
}

.testimonials__inner__content__item__social__link:nth-of-type(1):after {
  content: "";
  width: 1px;
  height: 15px;
  background: #000;
  position: absolute;
  right: 0;
}

.testimonials__inner__content__item__para {
  font-size: 14px;
  color: #1b1b1b;
  margin: 30px 0 0 0;
}

.contact__inner {
  display: flex;
  flex-direction: column;
  margin: 120px 0 0 0;
}

.contact__inner__title {
  font-size: 48px;
  font-weight: 500;
  color: #1b1b1b;
  position: relative;
}

.contact__inner__title:before {
  content: "Contact me";
  font-size: 144px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -50%);
  opacity: 0.1;
}

.contact__inner__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 80px 0 0 0;
}

.contact__inner__form__container {
  display: flex;
  margin: 0 0 25px 0;
}

.contact__inner__form__name {
  margin: 0 80px 0 0;
}

.contact__inner__form label {
  font-size: 18px;
}

.contact__inner__form input,
.contact__inner__form textarea {
  background: #eaeaea;
  border: 1px solid #d33131;
  resize: none;
  margin: 15px 0 0 0;
  padding: 10px;
}

.contact__inner__form input {
  width: 280px;
  height: 50px;
}

.contact__inner__form input[type="text"], .contact__inner__form input[type="email"] {
  font-size: 18px;
}

.contact__inner__form textarea {
  width: 100%;
  height: 400px;
  font-size: 18px;
}

.contact__inner__form__btn {
  align-self: center;
  justify-self: center;
  margin: 80px 0 0 0;
}

.contact__inner__form__btn button {
  padding: 12px 24px;
  border-radius: 2px;
}

.footer {
  background: #1b1b1b;
  width: 100%;
  margin: 120px 0 0 0;
}

.footer__inner {
  display: flex;
  align-items: center;
  padding: 60px 0 115px 0;
  justify-content: space-between;
  position: relative;
}

.footer__inner__content {
  display: flex;
  flex-direction: column;
}

.footer__inner__content__para {
  margin: 30px 0 0 0;
  max-width: 400px;
  color: #f2f2f2;
}

.footer__inner__nav {
  align-items: center;
}

.footer__inner__cp {
  position: absolute;
  color: #6b6b6b;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 0 20px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em;
}

body {
  background: #f2f2f2;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

a:hover {
  cursor: pointer;
}

button {
  color: #f2f2f2;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 120px;
}

.title {
  font-size: 48px;
}

.background-title {
  font-size: 144px;
}

.red-btn {
  border-radius: 2px;
  background: #d33131;
}

.owl-dots {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
}
/*# sourceMappingURL=Main.css.map */