// imports
@import "./colors";

// blocks
@import "./blocks/header";
@import "./blocks/intro";

// main styles
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 12px;

  padding: 0;
  margin: 0;
  letter-spacing: 0.02em;
}

body {
  background: #f2f2f2;
}

a {
  text-decoration: none;
  color: $txt-w;

  &:hover {
    cursor: pointer;
  }
}

// container
.container {
  margin: 0 120px;
}

// titles
.title {
  font-size: 48px;
}
.background-title {
  font-size: 144px;
}

// btns
.red-btn {
  border-radius: 2px;
  background: $red;
}

// owl-dots
.owl-dots {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
}
